<footer>
  <div class="footer-content">
    <img src="assets\Logo.png" height="90px;">
    <p>We Will Open The World Of Knowledge For You! This is the latest online examination system you will ever need! With our easy online exam site, you will set up your own engaging exams that fit any kind of difficulty level and be a learning expert.</p>
    <ul class="socials">
      <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
      <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
      <li><a href="#"><i class="fa-brands fa-google-plus-g"></i></a></li>
      <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
      <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
    </ul>
  </div>
  <div class="footer-bottom">
    <p>copyright &copy;2023 HuserHelper Hub. designed by <span>House Helper Hub</span><span class="right">Privacy Policy</span><span class="right">Terms & Conditions</span></p>
  </div>
</footer>
