<div class="section">
  <div class="container main">
      <h1>Welcome to House Helper Hub</h1>
      <h3>find helper ..!</h3>
  </div>
</div>

      

<div class="container section2" id="about">
<h2>About Us</h2>
<div class="row about" >
  <div class="col-md-6 mt-5"><img src="https://images.unsplash.com/photo-1647381518264-97ff1835026f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" width="90%"></div>
 <div class="col-md-6 mt-5"><h4 style="color:rgba(7, 83, 9, 1)">WE PROVIDE <br>HOUSE HELPER​</h4>
                     <p style="color:rgba(7, 83, 9, 0.7); font-size: bold;font-style: sans-serif;">Founded in 2006, Backpack Story was established by driven, dynamic, and innovative individuals who banded together.
                         </p>
                    <p style="color:rgba(0,0,0,0.5);"> Within five years of business operations, we have expanded Backpack Story and opened up three other subsidiary offices to focus on the various needs of our customers. After just two years in the business, Journez was presented with two valuable awards – the US Travel Excellence Award 2013.
                     In addition, the travel agency has gone through the year-long Customer- Centric Initiative (CCI) program and successfully attained the US Service Class certification.
                     We offer plenty of destinations, including Europe, USA, and Exotic long haul tours, making it professional to provide better service.</p>
                    </div>
</div>
</div>

<div id="sect3-h2">
<h2>What Client’s Say About Us</h2>
</div>
<div class="container-fluid section3 mt-1">
<div id="demo" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="carousel-caption">
        <p>This such a honest, decent and reliable site i love it. 
          This Site has a unique feel, thanks to the the maker. 
          Thanks so much! You were an EXCELLENT!
        </p>
        <img src="https://images.pexels.com/photos/4946649/pexels-photo-4946649.jpeg?auto=compress&cs=tinysrgb&w=600">
        <div id="image-caption">Prajakta Gawde</div>
      </div>   
    </div>
    <div class="carousel-item">
      <div class="carousel-caption">
        <p>Very informative professional site, hope to have the opportunity to see more subject.
           Nice experience from here and great work.
        </p>
        <img src="https://images.pexels.com/photos/2379005/pexels-photo-2379005.jpeg" class="img-fluid">
        <div id="image-caption">Nikhil Bhosale</div>
      </div>   
    </div>
    <div class="carousel-item">
      <div class="carousel-caption">
        <p>The design is very  consistent  throughout all of the pages- clean and
          easy to read.The layout is very  clean,  but also kind of bland. Well done!
        </p>
        <img src="https://images.pexels.com/photos/3785104/pexels-photo-3785104.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="img-fluid">
        <div id="image-caption">Raj Kadge</div>
      </div>   
    </div>
  </div>
  <button class="carousel-control-prev" data-bs-target="#demo" data-bs-slide="prev">
    <i class='fas fa-arrow-left'></i>
  </button>
  <button class="carousel-control-next" data-bs-target="#demo" data-bs-slide="next">
    <i class='fas fa-arrow-right'></i>
  </button>
</div>
</div>

<div class="section4">
<h2>What Services WE Provide</h2>
<div class="sect-timeline">
  <ul class="timeline">
    <!-- Item 1 -->
    <li>
      <div class="direction-r">
        <div class="flag-wrapper">
          <span class="hexa"></span>
          <span class="flag">House Helper</span>
        </div>
        <div class="desc">Choose the exam category based on your subject. This helps you typically differentiate between subjects that are essential for studying a particular course and subjects.</div>
      </div>
    </li>
    <!-- Item 2 -->
    <li>
      <div class="direction-l">
        <div class="flag-wrapper">
          <span class="hexa"></span>
          <span class="flag">Elder Taker Care</span>
        </div>
        <div class="desc">The aim of this to help you see things more clearly and get a good impression of the possible options, whether you have your heart set on a particular career path or not.</div>
      </div>
    </li>
    <!-- Item 3 -->
    <li>
      <div class="direction-r">
        <div class="flag-wrapper">
          <span class="hexa"></span>
          <span class="flag">Baby Shitting</span>
        </div>
        <div class="desc">On a good thing, Here you can give an online exam that is required based on your preferable subject. This is too easy, you just need to register and get ready for the exam.</div>
      </div>
    </li>
    <!-- Item 4 -->
    
  </ul>
</div>
</div>
